<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>logo_blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{162,199}</string>
				<key>spriteSourceSize</key>
				<string>{179,199}</string>
				<key>textureRect</key>
				<string>{{0,477},{162,199}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>logo_cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{162,199}</string>
				<key>spriteSourceSize</key>
				<string>{179,199}</string>
				<key>textureRect</key>
				<string>{{199,477},{162,199}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>logo_green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{162,199}</string>
				<key>spriteSourceSize</key>
				<string>{179,199}</string>
				<key>textureRect</key>
				<string>{{398,445},{162,199}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>logo_pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{162,199}</string>
				<key>spriteSourceSize</key>
				<string>{179,199}</string>
				<key>textureRect</key>
				<string>{{0,639},{162,199}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>logo_purple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{162,199}</string>
				<key>spriteSourceSize</key>
				<string>{179,199}</string>
				<key>textureRect</key>
				<string>{{199,639},{162,199}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>logo_red.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{162,199}</string>
				<key>spriteSourceSize</key>
				<string>{179,199}</string>
				<key>textureRect</key>
				<string>{{398,607},{162,199}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>logo_text.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{225,32}</string>
				<key>spriteSourceSize</key>
				<string>{225,32}</string>
				<key>textureRect</key>
				<string>{{0,445},{225,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>logo_yellow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{161,199}</string>
				<key>spriteSourceSize</key>
				<string>{179,199}</string>
				<key>textureRect</key>
				<string>{{659,0},{161,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>somos.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1}</string>
				<key>spriteSize</key>
				<string>{659,223}</string>
				<key>spriteSourceSize</key>
				<string>{667,229}</string>
				<key>textureRect</key>
				<string>{{0,0},{659,223}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>todos.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2}</string>
				<key>spriteSize</key>
				<string>{596,222}</string>
				<key>spriteSourceSize</key>
				<string>{611,238}</string>
				<key>textureRect</key>
				<string>{{0,223},{596,222}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>7_LogoSheet-hd.png</string>
			<key>size</key>
			<string>{820,801}</string>
			<key>textureFileName</key>
			<string>7_LogoSheet-hd.png</string>
		</dict>
	</dict>
</plist>